.form_header {
  background-color: #fff;
  margin: 5px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  &_left {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    input {
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: 400px;
      margin-left: 15px;
      line-height: 24px;
      font-family: "Times New Roman", Times, serif;
      width: 120px;
      &:focus {
        border-bottom: 1px solid black;
      }
    }
    .form_header_icon {
      margin-right: 10px;
    }
    span {
      font-size: 12px;
      font-weight: 600;
    }
  }
  &_icon {
    font-size: 20px;
    cursor: pointer;
  }
  &_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media only screen and (max-device-width: 1000px) {
  .form_header {
    width: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: none;

    &_left {
      justify-content: space-between;
    }
    input {
      width: 100%;
      font-size: 13px;
      font-weight: 400px;
      margin-left: 10px;
    }
  }
  span,
  #star,
  #drive,
  #redo,
  #visibility,
  #account {
    display: none;
  }
  &_icon {
    font-size: small;
    margin: 0;
  }
  .form_header_icon {
    margin: 0;
  }
  .form_header_right {
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
}
