.theme_container {
  position: absolute;
  height: 100%;
  top: 0;
  left: 80%;
  width: 20%;
  background-color: white;
  box-shadow: 2px 2px 2px 2px #747981;
  transition: all 0.5s ease;
  .theme_header {
    display: flex;
    align-items: center;
    justify-content: center;

    box-shadow: 0px 2px 2px #747981;
    div:first-child {
      padding-right: 10px;
    }
    div:last-child {
      display: flex;
      justify-content: right;
      flex: 2;
    }
  }
  .theme_color {
    display: flex;
    flex-flow: column;
    justify-content: center;

    width: 100%;
    box-shadow: 0px 1.5px 1.5px #747981;
    &_colors {
      display: flex;
      flex-flow: row wrap;
      margin-left: 20px;
      width: 80%;
    }
    p {
      margin-left: 25px;
    }
  }
  .theme_background_color {
    display: flex;
    flex-flow: column;
    justify-content: center;

    box-shadow: 0px 1.5px 1.5px #747981;
    p {
      margin-left: 10px;
    }
  }
  .picker_buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;

    button {
      cursor: pointer;
      color: #4285f4;
      border-radius: 0;
      background-color: transparent;
      border-color: transparent;
    }
  }
}
