.theme_container {
  position: absolute;
  height: 100vh;
  top: 0;
  left: 80%;
  width: 20%;
  background-color: white;
  .theme_header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    div:first-child {
      padding-right: 10px;
    }
    div:last-child {
      display: flex;
      justify-content: right;
      flex: 2;
    }
  }
  .theme_color {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 10px;
    width: 100%;
    &_colors {
      display: flex;
      flex-flow: row wrap;
      margin-left: 20px;
      width: 60%;
    }
  }
  .theme_background_color {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-left: 15px;
    margin-right: 10px;
  }
  .picker_buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;

    button {
      cursor: pointer;
      color: #4285f4;
      border-radius: 0;
      background-color: transparent;
      border-color: transparent;
    }
  }
}
